@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    user-select: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0699fc;
    overflow-x: hidden;
}

.container {
    max-width: 399px;
    padding: 0 20px;
    border-radius: 5px;
    background: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    overflow: hidden;
}

.row-1 {
    max-width: 399px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #fff;
    position: relative;
    /* border: 1px solid #ccc; */
}

.row-1 .col-1 {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: relative;
}

.row-1 .col-1 img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.row-1 .col-1 .file {
    display: none;
}

.row-1 .inputs {
    width: 300px;
    height: 130px;
    padding: 0 10px 10px 10px;
    background: #0699fc;
    position: fixed;
    top: -200px;
    left: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    transition: 0.5s;
}

.row-1 .inputs label {
    width: 100%;
    color: #0699fc;
    background: #fff;
    padding: 5px 0 5px 8px;
    cursor: pointer;
}

.row-1 .inputs input[type='text'] {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 0 5px 8px;
    color: #0699fc;
}

.row-1 .inputs input[type='button'] {
    background: #0699fc;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    position: absolute;
    right: 10px;
    top: 45px;
    padding: 2px 0;
}

.clos {
    font-size: 25px;
    width: 50px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.select {
    z-index: 1!important;
}

.row-1 .col-2 {
    width: 200px;
}

.row-1 .col-2 p {
    font-size: 13px;
    color: rgb(100, 100, 100);
}

.row-1 .col-3 {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-1 .col-3 .icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.row-2 {
    max-width: 399px;
    min-height: 400px;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.row-2 .col1 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.row-2 .col1 .user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.row-2 .user-img input {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.row-2 .col2 {
    width: 100%;
}

.row-2 .col2 #desc {
    width: 100%;
    line-break: auto;
    font-size: 15px;
}

.row-2 .col3 {
    width: 400px;
    cursor: pointer;
}

.row-2 .col3 img {
    width: 100%;
    height: 100%;
}

.row-2 .col4 {
    width: 100%;
}

.row-2 .col4 .liks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.liks .like {
    min-width: 100px;
    display: inline-block;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.like .icon {
    width: 20px;
    height: 20px;
}

.post-row-1 {
    width: 399px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 20px;
    background: #fff;
    position: fixed;
    top: 0;
    display: none;
}

.post-row-1 .cansle {
    position: absolute;
    right: 30px;
    font-size: 35px;
    color: #0699fc;
    cursor: pointer;
}

.post-row-1 .col1 {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 10px;
    width: 100%;
}

.post-row-1 .col1 .user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.post-row-1 .user-img input {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.post-row-1 .col1 .post {
    width: 100%;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.post-row-1 .col1 .post-btn {
    width: 100%;
    padding: 15px 5px;
    border: none;
    outline: none;
    display: inline-block;
    background: #287fb9;
    color: #fff;
    cursor: pointer;
}

.post-row-1 .col2,
.post-row-1 .col3 {
    width: 100%;
}

.post-row-1 .col2 input[type="text"] {
    width: 100%;
    background: #f1efef;
    border: none;
    outline: none;
    padding: 25px 10px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.12);
}

.post-row-1 .col3 .selected {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    position: relative;
    display: none;
}

.post-row-1 .col3 .selected::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.post-row-1 .col3 .selected .delete {
    font-size: 20px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
}

.post-row-1 .col3 .selected img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.post-row-1 .col3 input[type="file"] {
    display: none;
}

.post-row-1 .col3 label {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
}

.post-row-1 .col3 label .camra {
    color: #0699fc;
    font-size: 25px;
}